
   
    <html>
    <head>
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
        <script type="text/javascript">

            $(document).ready(
                function () {

                    $("#id").attr("value",1);
                    $("#product").attr("value", "Computer");
                    $("#price").attr("value", "10000");

                    //$("input").each(function()
                    //{
                    //    alert( $(this).attr("value"));
                    //}
                    //)

                    //$("input").attr("value", "Hello world!");
                });


            //$(document).ready(
            //    function () {
            //        var cars = ["Singapore", "UK", "US","Australia","Germany","France"];


            //        $.each(cars, function (index, value) {


            //            if (index == 0) {
            //                $("#countriesTable").append("<tr style='background-color:blue'><td>" + index + "</td><td>" + value + "</td></tr>");
            //                // $(this).css("background-color:red");
            //            }
            //            else {
            //                $("#countriesTable").append("<tr><td>" + index + "</td><td>" + value + "</td></tr>");
            //            }
            //        }
            //        )
            //        ;
            //    });





            //$(document).ready(
            //    function () {
            //       // alert('111');
            //        //$("<span> Welcome </span>").appendTo("body");
            //        //$("<span/>", {
            //        //    html: "Welcome"
            //        //}).appendTo("body");

            //        $("<Button/>",
            //            {
            //                html: "click",
            //                click: buttonHandler
            //            }
            //        ).appendTo("body");
            //    }
            //    );

            //var buttonHandler=function()
            //{
            //    alert("clicked1");
            //}




        </script>
     </head>
            <body>

                Id:<input id="id" type="text" />
                Product:<input id="product" type="text" />
                Price:<input id="price" type="text"  />

                <table width="300" border="1" id="countriesTable">
                    <tr>
                        <th>Rank</th>
                        <th>Country</th>
                    </tr>
                </table>


              <div></div>
           </body>
           </html>

