
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<input type="file" id="uploadfiles" multiple="multiple" />
<script type="text/javascript">
    function uploadFile(file)
    {
        alert('hjhjh');
        var fd = new FormData();
        fd.append('file', file);
        //fd.append("upload_file", file);
        $.ajax({
            url: "InsertFile/",
            type:"POST",
            data: fd,
           // async: false,
            cache: false,
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            success: function (data) {
                alert('1111');
                //$('#tblEmployees').find("tr:gt(0)").remove();
                //BindAll();
                alert('UPDATED');
            },
            error: function (xhr, status, error) {
                alert('2222');
                alert(error);
            }
        });
    }

    //function uploadFile(file) {
    //    alert('111');
    //    var url = '/Ajax/InsertFile/';
    //    //var url = 'Ajax/Index';
    //    var xhr = new XMLHttpRequest();
    //    var fd = new FormData();
       
    //    fd.append("upload_file", file);
    //    //xhr.send(fd);
    //    alert(file);
    //    xhr.onreadystatechange = function () {
    //        if (xhr.readyState == 4 && xhr.status == 200) {
    //            // Every thing ok, file uploaded
    //            alert('111');
    //            console.log(xhr.responseText); // handle response.
    //        }
    //        else
    //        {
    //            alert('222' + xhr.readyState);
    //        }
    //    };
    //    xhr.open("POST", url, true);
    //    xhr.send();
    //}

    var uploadfiles = document.querySelector('#uploadfiles');
    uploadfiles.addEventListener('change', function () {
        var files = this.files;
        for (var i = 0; i < files.length; i++) {
            uploadFile(this.files[i]); // call the function to upload the file
        }
    }, false);
</script>